.backgrount-transparent {
	border: none;
	background: transparent;
}
.backgrount-transparent:hover {
	border: none;
	background: transparent;
}
button:focus {
	outline: none !important;
}
#search-input:focus {
	box-shadow: none;
	border: 1px solid #ced4da;
}
.menu-button i {
	font-size: 20px;
	color: #191919;
}
.logo {
	width: 300px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
}
.search-icon-content {
	position: absolute;
	left: 10px;
	top: 8px;
	cursor: pointer;
}
#search-input {
    padding-left: 30px;
    font-weight: bold;
}
.menu-list {
	display: flex !important;
	margin-bottom: 0px;
	margin-top: 10px;
	padding-left: 0px;
}
.menu-list li {
	display: inline-block;
}
.menu-list li:not(:last-child) {
	margin-right: 15px;
}
.menu-icon {
	cursor: pointer;
}
.menu-icon .icon-bar {
    width: 45px;
    height: 2px;
    background-color: black;
    display: block;
}
.menu-icon .icon-bar:not(:last-child) {
	margin-bottom: 15px;
}
.search-form-content {
	width: 300px;
	position: relative;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.search-form-content.widtAnimation {
	position: relative !important;
	width: 370px   
}
.page-title, .rate-title, .date-info-content h3,
.guide-title {
	font-family: FiraSans;
	font-size: 26px;
	font-weight: bold;
	margin-top: 25px;
	color: #3a3a3a;
}
.date-info-content h3 {
	font-weight: normal;
}
.currencyUpdate, .currencyCalc, .date-info-content p,
.rate-description {
    font-family: FiraSans;
    font-size: 12px;
    font-weight: bold;
    color: #3a3a3a;
    margin-bottom: 5px;
}
.currencyUpdate span {
	text-decoration: underline;
}
.banner {
	width: 100%;
	height: 120px;
	background-color: red;
	margin-top: 25px;
}
.currencyDetailsContent {
	background-color: #eeeeee;
	padding: 10px;
}
.currencyDetailsContent.active > div {
	color: #8aaac2 !important;
}
.currencyDetailsContent strong, .currencyDetailsContent span {
	display: block;
}
.currency-info-header {
	background-color: #eeeeee;
    font-size: 35px;
    color: #159ff6;
    border-bottom: 2px solid #159ff6;
    font-weight: bold;
    line-height: 35px;
}
.currency-info-header .currency-name {
	line-height: normal;
	font-size: 22px;
	font-weight: bold;
}
.currency-header-block {
	border-right: 2px solid #fff;
}
.currency-description-content.line {
	border-right: 1.5px solid #eeeeee;
}
.bg-grey {
    background-color: #eeeeee;
}
.guide-columns {
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}
.guide-columns:not(:first-child) {
	border-bottom: 1px solid #dddddd;
}
.guide-columns .icon-euro {
    font-size: 13px;
}
footer, .menu-footer {
	background-color: #424242;
}
.menu-footer {
	display: none;
}
.menu-footer-button {
	cursor: pointer;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
    right: 10px;
    top: 5px;
    width: 42px;
    height: 42px;
}
.menu-footer-button:before, .menu-footer-button:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 42px;
    height: 0;
    border-top: 2px solid #fff;
    transform: rotate(45deg);
    transform-origin: center;
}
.menu-footer-button:before {
    transform: rotate(45deg);
}
.menu-footer-button:after {
    transform: rotate(-45deg);
}
.menu-footer-button:hover {
	transform: rotate(180deg);
}
.menu-list-group .list-group-item {
	padding-left: 0px;
	background-color: #424242;
	font-size: 13px;
	border: solid 1px #424242;
}
.languages-content .languages-button  {
	border-radius: 0px;
	background-color: #fff;
	min-width: 100%;
	font-weight: bold;
}
.currency-select-content .currency-select-button {
	border-radius: 0px;
	background-color: #fff;
	font-weight: bold;
	border: solid 1px #ddd;
	width: 100%;
}
.search-currency-content,
.currency-select-content,
.currency-list-content {
	width: 48%;
}
.currency-list-content {
    z-index: 10
}
#search-currency {
	font-weight: bold;
}
.currency-icon-content {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
    color: #a3a3a3;
}
.convert-icon-content {
	color: #a3a3a3;
	font-size: 20px;
	width: 4%;
	line-height: 38px;
}
.languages-button .icon-angle-down, .currency-select-button .icon-angle-down {
	line-height: 24px;
}
.languages-list-content, .currency-list-content {
    font-weight: bold;
    display: none;
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.languages-list-content .scrollbar:before,
.currency-list-content .scrollbar:before,
.search-result .scrollbar:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    top: -8px;
    left: 20px;
    background: #fff;
    transform: rotate(45deg);
    z-index: 10;
}
.languages-list-content .scrollbar:before {
	width: 10px;
    height: 10px;
    top: -5px;
}
.languages-list-content .list-group,
.currency-list-content .list-group {
	position: relative;
	z-index: 100;
}
.languages-list-content .list-group li:first-child,
.currency-list-content .list-group li:first-child,
.search-result .list-group a:first-child {
	border-top: none;
}
.languages-list-content .list-group li:last-child,
.currency-list-content .list-group li:last-child,
.search-result .list-group a:last-child {
	border-bottom: none;
}
.languages-list-content .list-group li,
.currency-list-content .list-group li {
	cursor: pointer;
}
.currency-select-content .list-group li h6 {
	font-size: 13px;
}
.currency-select-content .list-group li span {
	color: #ccc;
	font-weight: normal;
	font-size: 13px;
}
.languages-list-content .scrollbar,
.currency-list-content .scrollbar,
.search-result .scrollbar
{
	height: 150px;
	background: #F5F5F5;
	overflow: auto;
	box-shadow:
	0 4px 5px 0 rgba(0, 0, 0, 0.1),
	0 1px 10px 0 rgba(0, 0, 0, 0.1),
	0 2px 4px -1px rgba(0, 0, 0, 0.1);
}
.search-result {
	width: 100%;
	position: absolute;
	top : 50px;
	right: 0px;
	z-index: 10;
	display: none;
}
.search-result .scrollbar {
	max-height: 200px;
	height: auto;
}
.listSearch {
	position: relative;
	z-index: 100;
	border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
.current-currency-data {
	color: #5c9fd4;
	font-size: 22px;
	font-weight: bold;
	line-height: normal;
}
.current-currency-data span {
	color: #3a3a3a;
}
.current-currency-convert {
    font-size: 100px !important;
    color: #3a3a3a;
}
.current-currency-convert .currency-blue {
	color: #5c9fd4;
}
.current-currency-convert .currency-grey {
	color: #ddd;
}
.corrency-invert-sum, .corrency-invert-submit {
	width: 50%;
}
.corrency-invert-sum input, .corrency-invert-submit button {
	border-radius: 0px;
	height: 60px;
	font-size: 20px;
}
.currency-invert-button {
	width: 100%;
}
.menu-currency-title {
	padding-left: 10px;
}
footer .menu-list-currencies, .menu-footer .menu-list-currencies {
	border-right: 2px solid #565656;
	border-left: 2px solid #565656;
	padding-left: 10px;
}
footer .menu-list-currencies > div, footer .menu-list-links > div,
.menu-footer .menu-list-currencies > div, .menu-footer .menu-list-links > div {
	margin-bottom: 15px;
    font-size: 14px;
}
footer .menu-list-currencies > div a, footer .menu-list-links > div a,
.menu-footer .menu-list-currencies > div a, .menu-footer .menu-list-links > div a
.social-icons-list {
	color: #fff;
}
.social-icons-list li {
	background-color: #fff;
    display: inline-block;
    margin-left: 10px;
}
.social-icons-list li a {
	color: #000;
    font-size: 22px;
    padding: 1px 8px;
}
.social-icons-list li:hover {
	background-color: #00aced;
}
.social-icons-list li:hover a {
	text-decoration: none;
	color: #fff;
}
@media screen and (max-width: 768px) {
	.search-form-content {
		padding-right: 15px; 
	}
	.search-icon-content {
		top: 7px;
		cursor: pointer;
		font-size: 23px;
		margin-bottom: 0px;
	}
	.search-form-content {
		position: absolute !important;
		right: 60px;
		width: 40px;
	    top: -2px;
	}
	.widtAnimation .search-icon-content {
		left: 20px;
	    z-index: 10;
	}
	.widtAnimation #search-input {
		display: block;
	}
	.search-form-content.widtAnimation {
		position: absolute !important;
		width: 100%;
		height: 45px;
		right: 0px;
		padding-right: 15px;
		padding-left: 15px;	    
	}
	#search-input {
	    border: none;
	    height: 45px;
	}
	.widtAnimation #search-input {
        border: 1px solid #ced4da;
	}
	.menu-list {
		margin-top: 1px;
	}
	.logo {
		height: 40px;
		line-height: 39px;
	}
	.menu-icon .icon-bar {
		width: 35px;
	}
	.page-title, .guide-title {
		font-size: 22px;
	}
	.menu-list-group .list-group-item {
		font-size: 12px;
	}
	footer .menu-list-currencies > div, footer .menu-list-links > div,
	.menu-footer .menu-list-currencies > div, .menu-footer .menu-list-links > div {
	    font-size: 10px;
	}
	.current-currency-convert {
	    font-size: 65px !important;
	}
	.search-result {
		padding-right: 15px;
		padding-left: 15px;
		top: 60px;
	}
}
@media screen and (max-width: 576px) {
	.currency-header-block, .currency-description.line {
		border-right: 0px;
	}
	.container-fluid.guide-container, .guide-container .guide-columns-content {
		padding-right: 0px;
		padding-left: 0px;
	}
	.container-fluid.guide-container > .row {
		margin-right: 0px;
		margin-left: 0px;
	}
	.menu-content{
		float: left;
	}
	.languages-content {
		float: right;
		width: 160px;
	}
	.languages-button {
		max-width: 100%;
		overflow: hidden;
	}
	.menu-list-group .list-group-item {
	    font-size: 16px;
	}
	footer .menu-list-currencies > div, footer .menu-list-links > div,
	.menu-footer .menu-list-currencies > div, .menu-footer .menu-list-links > div {
	    width: 50%;
	    font-size: 14px;
	}
	footer .menu-list-currencies,
	.menu-footer .menu-list-currencies {
		padding-left: 0px;
		border: none;
	}
	.menu-currency-title {
		padding-left: 10px;
	}
	.menu-footer-button {
		right: 0px;
		top: 0px;
	}
	.currency-select-content .currency-list-content {
		width: 100%;
	}
	.convert-icon-content {
		font-size: 14px;
		width: 6%;
	}
	.search-currency-content, .currency-select-content {
	    width: 47%;
	}
	.current-currency-convert {
	    font-size: 50px !important;
	}
	
}
@media screen and (max-width: 380px) {
	.logo {
	    width: 190px;
	    font-size: 20px;
	}
	.page-title, .guide-title {
		font-size: 18px;
	}
	.menu-list-group .list-group-item {
	    font-size: 14px;
	}
	.menu-list-group .list-group-item span {
		padding-right: 7px !important;
	}
	.social-icons-list li {
		margin-left: 6px;
	}
	.current-currency-convert {
	    font-size: 45px !important;
	}
	.corrency-invert-sum input, .corrency-invert-submit button {
	    height: 50px;
	    font-size: 15px;
	}
} 
